.container__main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #060e1f;
    border-radius: 10px;
   
    
}

.info__card{

    width: 200px;
    height: 300px;
    padding: 5px;
    background-color: #061e36;
    border-radius: 10px;
    margin: 5px;
}

.info__card > p, h2 {
    color: #000;
    background-color: #d1b882;
    border: 1px solid #000;
    border-radius: 10px;
    
}

